:root {
    --main-color: #1a1a1a;
    --hover-color: #7DCEA0;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: whitesmoke;
}

header {
    padding: 30px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(213, 207, 207, 0.4) 0%, rgb(255, 255, 255) 100%);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 300%;
    font-weight: lighter;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav ul li {
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--main-color);
}

.main-nav ul li:hover{
    border-bottom: 5px solid var(--hover-color);
}

.cover-photo {
    background-image: url('../images/background-code.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: -4px -2px 50px 25px rgba(0, 0, 0, 0.5);
}

.cover-photo h2 {
    font-weight: lighter;
    margin-right: 15px;
    padding: 15px;
    border-radius: 25px;
    color: white;
    background-color: var(--hover-color);
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    align-items: center;
    width: 100%;
}

.title {
    width: 30%;
    font-size: 150%; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-left: 5px solid var(--main-color);
}

.work-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border-left: 5px solid var(--main-color);
}

.work-links {
    display: inline-block;
    background: #3794fe;
    border-radius: 6px;
    padding: 20px;
    margin: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    box-shadow: 2px 2px 50px 40px rgba(0,0,0,0.40);
}

.work-links:first-child {
    width: 95%;
    height: 400px;
}

.work-links:not(:first-child) {
    flex: 1;
}

.work-links h2 {
    margin: 0;  
}

.work-links p {
     font-size: 80%;
     margin: 0;
}

.work-links:hover {
    opacity: 0.5;
}

.job-1 {
    background-image: url('../images/water-droplets.jpg');
    background-size: cover;
}

.job-2 {
    background-image: url('../images/code-screen.jpg');
    background-size: cover;
}

.job-3 {
    background-image: url('../images/code-foot.jpg');
    background-size: cover;
}

.job-4 {
    background-image: url('../images/no-bad-days.jpg');
    background-size: cover;
}

.job-5 {
    background-image: url('../images/screens.jpg');
    background-size: cover;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content p {
    border-bottom: 3px solid var(--main-color);
}

.footer-content p:hover{
    border-bottom: 3px solid var(--hover-color);
}
@media screen and (max-width: 1350px){
    .row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        align-items: center;
        width: 100%;
    }
    .content {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 30px;
        border-top: 5px solid var(--main-color);
        border-left: none;
    }
    .work-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        border-top: 5px solid var(--main-color);
        border-left: none;
    }
    .work-links {
        display: inline-block;
        border-radius: 6px;
        padding: 20px;
        margin: 12px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        color: white;
    }
    
    .work-links:first-child {
        width: 92%;
        height: 200px;
    }
    
    .work-links:not(:first-child) {
        flex: 1;
    }
    .footer-content {
        display: flex;
        justify-content: space-around;
    }
}

